[defaults]
inventory = hosts
roles_path = roles
gathering = explicit
inject_facts_as_vars = False
vault_id_match = True
vault_identity_list = default@misc/vault-keyring-client.sh
ansible_managed = "$Ansible {{{{ template_path|basename + lookup('pipe', 'git log --format=",%%h %%ad %%ae" -1 --date=format:"%%Y-%%m-%%d %%H:%%M" ' + template_fullpath|quote)|default(",UNCOMMITED", True) }}}} $"
interpreter_python = "/usr/bin/python3"
stdout_callback = debug

[inventory]
host_pattern_mismatch = error
any_unparsed_is_failed = True

[connection]
pipelining = True

[privilege_escalation]
become = True
